framework/src/org/nxf/frame/appconfig.dtd

  <!ELEMENT app-config (package,suffix?,parameter?,alials?,pagesize?,pagefull?,ddlauto?,driver?,url?,user?,password?)>  
  <!ELEMENT package   (#PCDATA)>
  <!ELEMENT suffix    (#PCDATA)>
  <!ELEMENT parameter (#PCDATA)>
  <!ELEMENT alials 	  (#PCDATA)>
  <!ELEMENT pagesize  (#PCDATA)>
  <!ELEMENT pagefull  (#PCDATA)>
  <!ELEMENT ddlauto   (#PCDATA)>
  <!ELEMENT driver    (#PCDATA)>
  <!ELEMENT url       (#PCDATA)>
  <!ELEMENT user      (#PCDATA)>
  <!ELEMENT password  (#PCDATA)>